html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    background-color: #f2e5f3;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

footer {
    margin: 0;
    background-color: #dcbcdf;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: dark;
}


.container {
    max-width: 1920px;
    width: 100%;
}

header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: pink;
    border-bottom: 1px solid #CCC;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}

.nav-container {
    max-width: 1200px;
    position: fixed;
    margin-right: auto;
    margin-left: auto;
    padding: auto;
}

#Logo {
    width: 100px;
    height: 100px;
    margin-top: 0%;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
    padding: auto;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 50px;
    padding: auto;
}

.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: .5s;
    padding: auto;

}

.nav-container li a:hover {
    color: #3381f3;
}

.lista-receitas li {
    margin-bottom: 15px;
    padding: 5px 0;
    background-color: pink;
}

#main-banner {
    padding: 25px;
    margin: 0px;
}

#main-receita {
    padding: 25px;
    margin: 0px;
}

#form-barra {
    margin-right: auto;
}

.form-control {
    padding: 25px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
    color: #631f3b;
}

.form-control input {
    border: 2px solid #3E445B;
    border-radius: 5px;
    outline: 0;

    display: block;

    font-size: 14px;

    width: 25%;
    padding: 15px;
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i.img-error {
    visibility: visible;
}

.form-control.success i.img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.required-popup::after {
    content: "*Campo Obrigatório";
    top: 0;
    right: 0;
    color: #dfdfdf;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
}

input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020
}

input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
}

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

.visible {
    display: block;
}